.change-password-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #1d1d5c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
  }
  
  button:hover {
    background-color: #1d1d5c;
  }
  button:disabled {
    background-color: #cccccc; /* Grise le bouton */
    color: #666666; /* Change la couleur du texte pour une nuance plus claire */
    cursor: not-allowed; /* Change le curseur en un "interdit" */
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  .success-message {
    color: green;
    font-size: 14px;
  }
  