<!-- <mat-dialog-content *ngIf="selectedDiscipline">
  <h3>Détails de la discipline pour {{ selectedDiscipline.eleve.nom }}</h3>
  <p><strong>Raison : </strong>{{ selectedDiscipline.cause }}</p>
  <p><strong>Date : </strong>{{ selectedDiscipline.date }}</p>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Statut</mat-label>
    <mat-select [(ngModel)]="status">
      <mat-option value="APPROVED">Approuvé</mat-option>
      <mat-option value="REJECTED">Rejeté</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Commentaires ou Réponses</mat-label>
    <textarea matInput [(ngModel)]="response" placeholder="Entrez votre commentaire ici..."></textarea>
  </mat-form-field>

  <div class="button-group">
    <button mat-raised-button color="primary" [disabled]="!response || !status" (click)="submitResponse()">
      Envoyer la réponse
    </button>
    <button mat-raised-button color="warn" (click)="cancel()">Annuler</button>
  </div>
</mat-dialog-content> -->


<mat-card class="reclamation-card">
  <mat-card-header>
    <mat-card-title>Gestion de discipline élève</mat-card-title>
  </mat-card-header>

  <div class="student-table">
    <table mat-table [dataSource]="disciplines" class="mat-elevation-z8">
      <ng-container matColumnDef="eleve">
        <th mat-header-cell *matHeaderCellDef> Élève </th>
        <td mat-cell *matCellDef="let discipline"> 
          {{ discipline.eleve.nom }} {{ discipline.eleve.prenom }} 
        </td>
      </ng-container>

      <ng-container matColumnDef="enseignant">
        <th mat-header-cell *matHeaderCellDef> Enseignant </th>
        <td mat-cell *matCellDef="let discipline"> 
          {{ discipline.enseignant.nom }} {{ discipline.enseignant.prenom }} 
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Statut </th>
        <td mat-cell *matCellDef="let discipline"> 
          {{ discipline.statusDisc | titlecase }} 
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let discipline">
          <button mat-raised-button color="primary" (click)="openDisciplineDetailsInDialog(discipline)">
            Détails
          </button>
          <button mat-raised-button color="warn" (click)="removeDiscipline(discipline)">
            Supprimer
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-card>

