 
<div class="banner">
  <div class="banner-text">
    <h3>Tableau de Bord - Gestion de l'Emploi du Temps et Calendrier des Examens</h3>
    <p>
      Bienvenue dans votre espace d'administration. Gérez l'emploi du temps des cours, 
      planifiez les examens et suivez le calendrier des événements scolaires pour une organisation optimale.
    </p>
  </div>
</div>

<div class="dashboard">
    <div class="card" *ngFor="let item of menuItems" (click)="handleMenuClick(item)">
      <i class="{{ item.icon }}"></i>
      <span>{{ item.name }}</span>
    </div>
</div>

<app-gestion-emploi *ngIf="showEmploiForm"></app-gestion-emploi>
<app-gestion-clendrier *ngIf="showCalendrierForm"></app-gestion-clendrier>