<div class="container">
    <mat-card>
      <mat-card-title>Création de l'emploi du temps</mat-card-title>
      <form [formGroup]="emploiForm" (ngSubmit)="onSubmit()" class="containerform">
        <!-- Nom de la journée -->
        <mat-form-field appearance="outline" class="full-width" >
          <mat-label>Nom de la journée</mat-label>
          <input matInput formControlName="nomjour" required />
          <mat-error *ngIf="emploiForm.get('nomjour')?.hasError('required')">Le nom de la journée est requis.</mat-error>
        </mat-form-field>
  
        <!-- Heure -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Heure</mat-label>
          <input matInput type="time" formControlName="heure" required />
          <mat-error *ngIf="emploiForm.get('heure')?.hasError('required')">L'heure est requise.</mat-error>
        </mat-form-field>
  
        <!-- Email -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required />
          <mat-error *ngIf="emploiForm.get('email')?.hasError('required')">L'email est requis.</mat-error>
          <mat-error *ngIf="emploiForm.get('email')?.hasError('email')">L'email n'est pas valide.</mat-error>
        </mat-form-field>
  
        <!-- Salle (select) -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Salle</mat-label>
          <mat-select formControlName="nomSalle" required>
            <mat-option *ngFor="let salle of salles" [value]="salle.nomdesalle">{{ salle.nomdesalle }}</mat-option>
          </mat-select>
          <mat-error *ngIf="emploiForm.get('nomSalle')?.hasError('required')">La salle est requise.</mat-error>
        </mat-form-field>
  
        <!-- Matière (select) -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Matières</mat-label>
          <mat-select formControlName="nomMatiere" required>
            <mat-option *ngFor="let matiere of matieres" [value]="matiere.nom">{{ matiere.nom }}</mat-option>
          </mat-select>
          <mat-error *ngIf="emploiForm.get('nomMatiere')?.hasError('required')">La matière est requise.</mat-error>
        </mat-form-field>
  
        <!-- Classe (select) -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Classe</mat-label>
          <mat-select formControlName="nomClasse" required>
            <mat-option *ngFor="let classe of classes" [value]="classe.nomclasse">{{ classe.nomclasse }}</mat-option>
          </mat-select>
          <mat-error *ngIf="emploiForm.get('nomClasse')?.hasError('required')">La classe est requise.</mat-error>
        </mat-form-field>
  
        <!-- Button -->
        <button mat-raised-button color="primary" type="submit" [disabled]="emploiForm.invalid">Soumettre</button>
      </form>
  
      <!-- Message de succès ou d'erreur -->
      <div *ngIf="message" [ngClass]="{'success': success, 'error': !success}">
        {{ message }}
      </div>
    </mat-card>
  </div>
  